.login .formInput input{
    border: none;
    background: #e8e8e8;
    border-radius: 6px;
    padding: 10px 15px;
    margin: 7px 0;
    outline: none;
}
.login form{
    display: flex;
    flex-direction: column;
}
.login .logo span{
    font-size: 5em;
}
.login{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .logo{
    margin: 10px 0;
}
.login button{
    background-color: #0e8df1;
    color: #fff;
}