*{
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App::-webkit-scrollbar{
    border:none;
}
.profile_photo{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: orange !important;
  padding: 6px 8px !important;
  margin-right: 6px !important;
  border-radius: 50% !important;
  font-size: .9em !important;
  width: 18px !important;
}
.profile_photo p{
  margin: 0 !important;
  color: #fff !important;
  font-weight: 100 !important;
}